@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;900&family=Roboto:wght@400;900&display=swap');

html body {
  background-color: rgba(14, 18, 66, 1);
}

.App {
  text-align: center;
  font-family: 'Roboto';

}

/*Link text in Navbar*/
.App-navbar ul li a {
  color: rgba(69, 182, 144, 1);
  text-decoration: none;
}

.landing {
  font-family: 'Roboto';
  overflow: hidden;
}
/* Background Image */
#bg {
  position: relative; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#bg img {
  position: relative; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity: 0.9;
  z-index: -1;
}

/*Text in landing page*/
.welcome {
  font-family: 'Exo';
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 30%;
  margin-top: -50px;
  margin-left: -50px;
  text-shadow: 1px 1px 1px #000;
  z-index: 1;
}

 /* artists-card style in artists list page*/
.artist-card {
  background-color: rgba(69, 182, 144, 1);
  border-radius: 10px;
  width: 230px;
  height: 280px;
  margin: 3px;
} 

.artist-card img {
  margin-top: 10px;
}


.content-1 {
  color: white;
  font-family: 'Exo';
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  text-shadow: 1px 1px 1px #000;
  text-align: left;
}

/* number of genres, artists, and songs */
.number {
  color: rgba(69, 182, 144, 1);
  font-family: 'Exo';
  font-weight: bold;
  position: absolute;
  top: 100%;
  left: 15%;
  margin: auto;
  text-shadow: 1px 1px 1px #000;
}

.number h2 {
  font-size: 70px;
  font-weight: 900;
}

.number h4 {
  font-size: 50px;
  color: white;
}

.gradient {
  background-color: linear-gradient ( rgba(14, 18, 66, 1), rgba(69, 182, 144, 1)); 
  padding: '20px'; 
  height: '1000px';
}

.chart__bubble {
  height: 100%;
  overflow: hidden;
  width: 100%;
  color: whitesmoke;
}
.chart__bubble .bubble {
  fill: white;
}

.chart__bubble .leaf {
  fill: #45B690;
}