@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;900&family=Roboto:wght@400;900&display=swap');

html body {
  background-color: rgba(14, 18, 66, 1);
}

.App {
  text-align: center;
  font-family: 'Roboto';
  
}

/*Link text in Navbar*/
.App-navbar ul li {
  list-style-type: none;
}

.App-navbar ul li a {
  color: rgba(69, 182, 144, 1);
  text-decoration: none;
 
}





.landing {
  font-family: 'Roboto';
  overflow: hidden;
}
/* Background Image */
#bg {
  position: relative; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#bg img {
  position: relative; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  min-width: 50%;
  min-height: 50%;
  opacity: 0.9;
  z-index: -1;
}

/*Text in landing page*/
.welcome {
  position: absolute;
  font-family: 'Exo';
  font-weight: 900;
  top: 50%;
  left: 30%;
  margin: auto;
  text-shadow: 1px 1px 1px #000;
}

 /* artists-card style in artists list page*/


.content-1 {
  color: white;
  font-family: 'Exo';
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  text-shadow: 1px 1px 1px #000;
  text-align: left;
}

.earth {
  -webkit-filter: drop-shadow(5px 5px 5px rgb(4, 6, 29) );
  filter: drop-shadow(5px 5px 5px rgb(4, 6, 29));
  margin-right: 30px; 
  padding: 20px; 
  margin-bottom: 50px;
}

/* number of genres, artists, and songs */
.number {
  color: rgba(69, 182, 144, 1);
  font-family: 'Exo';
  font-weight: bold;
  position: absolute;
  top: 100%;
  left: 15%;
  margin: auto;
  text-shadow: 1px 1px 1px #000;
}

.number h2 {
  font-size: 70px;
  font-weight: 900;
}

.number h4 {
  font-size: 50px;
  color: white;
}

.end-landing {
  background: linear-gradient(#26a787, rgba(69, 182, 144, 1));
  height: 800px;

}


.logo {
  -webkit-filter: drop-shadow(3px 3px 3px rgb(30, 30, 34) );
  filter: drop-shadow(3px 3px 3px rgb(30, 30, 34));
  width: 380px;

.chart__bubble {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.chart__bubble .bubble {
  fill: transparent;
}

.chart__bubble .leaf {
  fill: #45B690;
}